{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>可以简单操作的平台</title>
    <!-- <link rel="stylesheet" href='bootstrap-3.3.7-dist\css\bootstrap.min.css'> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .c1 {
            width: 600px;
            height: 180px;

        }
        .c2{
            height: 180px;
            width: 20px;
            background-color: aquamarine;
        }
        #dd1{
            position: relative;
            left: 2%;
            top: 20px;
        }
        .c_an{
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>
    <div>
        <div id='dd1' >
            <form action="" method="POST">
                    <input type="submit" name="" id="" value="获取验证码">        
                    <!-- 展示条数<select name="count" id="coun1">
                        <option value="1" id="coun">3条</option>
                        <option value="2" id="coun">5条</option>
                        <option value="3" id="coun">7条</option>
                    </select>        -->
            </form>

            <table class="table table-striped c1">
                    <h3><span class="label label-success c_an">app</span><h3>
                    <tr>
                        <th>手机号</th>
                        <th>验证码</th>
                        <th>获取时间</th>
                    </tr>
                    <!-- <tr>
                        <td>{{ list1.0.phone }}</td>
                        <td>{{ list1.0.captcha }}</td>
                        <td>{{ list1.0.update_time|date:"Y-m-d H:i:s" }}</td>

                    </tr>
                    <tr>
                        <td>{{ list1.1.phone }}</td>
                        <td>{{ list1.1.captcha }}</td>
                        <td>{{ list1.1.update_time|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    <tr>
                        <td>{{ list1.2.phone }}</td>
                        <td>{{ list1.2.captcha }}</td>
                        <td>{{ list1.2.update_time|date:"Y-m-d H:i:s" }}</td>
                    </tr> -->

                    {% for i in list1 %}
                    <tr>
                        <td>{{ i.phone}}</td>
                        <td>{{ i.captcha }}</td>
                        <td>{{ i.update_time|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    {% endfor %}
            </table>
            <table class="table table-striped c1">
                    <h3><span class="label label-success  c_an">h5</span></h3>
                    <!-- <h3><span class="label label-default"></span></h3> -->
                    <tr>
                        <th>手机号</th>
                        <th>验证码</th>
                        <th>获取时间</th>
                    </tr>

                    {% for i in list2 %}
                    <tr>
                        <td>{{ i.encrypt_mobile|slice:"4:" }}</td>
                        <td>{{ i.code }}</td>
                        <td>{{ i.update_date|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    {% endfor %}
            </table>

        </div>

        <div>
            <button id="b11" type="button">刷新</button>
            <select name="" id="sele1">
                <option value="">3</option>
                <option value="">5</option>
                <option value="">7</option>
            </select>
            <table class="table table-striped c1">
                <h3><span class="label label-success  c_an">h5</span></h3>
                <!-- <h3><span class="label label-default"></span></h3> -->
                <tr>
                    <th>手机号</th>
                    <th>验证码</th>
                    <th>获取时间</th>
                    <th>{{ list3 }}</th>
                </tr>
                {% for i in list3 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ i.encrypt_mobile|slice:"4:" }}</td>
                    <td>{{ i.code }}</td>
                    <td>{{ i.update_date|date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% endfor %}
        </table>
        </div>

        <script src="/static/jquery-3.5.1.js"></script>
        <script>
            var list3 = []
            $("#b11").on("click",function(){
                $.ajax({
                    url:"ajax_h5/",
                    type:"POST",
                    // contentType:"application/json",
                    data:{"sele1":$("#sele1 option:selected",).text(),"csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val()},
                    // processData: false ,    // 不处理数据
                    // contentType: false,    // 不设置内容类型                  
                    success:function(data){
                        list3 = data;
                        console.log(data)
                        console.log(typeof(data))

                    }
                })
            })
        </script>
    </div>
</body>

</html>