<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动化测试平台</title>
    <link rel="stylesheet" href='bootstrap-3.3.7-dist\css\bootstrap.min.css'>
    <style>
        .c1 {
            width: 400px;
            height: 200px;
            background-color: aquamarine;
            position: relative;
            left: 400px;
            top: 200px;
        }
        .form-inline{
            position: relative;
            /* left: 20px; */
            top: 40px;
        }
    </style>
</head>
<body>
    <div class="c1">
        
            <form class="" method="POST" action="">
                姓名<input type="text" name="username" id=""><br>
                密码<input type="password" name="password" id=""><br>
                <input type="submit" name="" id="">
                
            </form>
    </div>
</body>
</html>